/*колір палитры

 --текст лого Raleway
 --текст основний Roboto
 --колір лого #2196f3
 --колір частини лого хедер #000000
 --колір частини лого footer #ffffff

 --колыр іконок #AFB1B8;
 --колір фону іконок в футері rgba(255, 255, 255, 0.1);


 --колір основний тексту #757575
 --колір навигації заголовку #212121
 --колір акценту синій #2196F3
 --білий #FFFFFF;
 --колір посилань в footer rgba(255, 255, 255, 0.6)

-- колір bgd header #ffffff
-- колір bgd первинний #ffffff 
-- колір bgd вторинний #F5F4FA
-- колір bgd hero, footer #2F303A 
-- колір bgd активної кнопки #188CE8; */

:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  --logo-primary-text: #2196f3;
  --logo-header-text: #000000;
  --logo-footer-text: #ffffff;

  --icon-color: #afb1b8;
  --bgd-color-icon-footer: rgba(255, 255, 255, 0.1);

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text: #2196f3;
  --text-color-footer: rgba(255, 255, 255, 0.6);

  --white-color: #ffffff;

  --bgd-primary: #ffffff;
  --bgd-secondary: #f5f4fa;
  --bgd-hero: #2f303a;
  --bgd-btn-active: #188ce8;
}

body {
  background-color: var(--bgd-primary);
  color: var(--primary-text-color);

  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

/* style section */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.centered {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*style logo header and footer*/
.logo {
  display: inline-block;

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--logo-primary-text);
}

.nav > .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header {
  margin-right: 93px;

  color: var(--logo-header-text);
}

.logo-footer {
  color: var(--logo-footer-text);
}

/* style header */
.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

/* style navigation*/
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-text);
}

.corrent {
  position: relative;
  color: var(--accent-text);
  display: inline-block;
}

.corrent::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  display: inline-block;

  width: 100%;
  height: 4px;

  background: var(--accent-text);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  background-color: var(--white-text);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-item:hover svg,
.auth-item:focus svg {
  fill: var(--accent-text);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--accent-text);
}

.auth-nav > .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*style hero*/
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: var(--bgd-hero);
  color: var(--white-color);
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/* style button */
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;

  color: var(--white-color);
  background-color: var(--logo-primary-text);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--bgd-btn-active);
}

/* style working */
.work {
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.work-list > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.work-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background-color: var(--bgd-secondary);
  border-radius: 4px;
}

.item-icon {
  width: 70px;
  height: 70px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-icon:hover svg {
  fill: var(--accent-text);
}

.work-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--title-text-color);
}

.work-item {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  line-height: 1.71;
}

/* style classes */
.classes-list {
  display: flex;
  justify-content: space-between;
}

.classes-list > .item {
  position: relative;
}
.classes-item {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--logo-footer-text);
  text-transform: uppercase;
}
/*style team*/
.team {
  background-color: var(--bgd-secondary);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-item {
  width: calc(100% / 4 - 30px);
  margin-right: 30px;
  background-color: var(--bgd-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
}

.team-direction {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team-list-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list:hover,
.social-list:focus {
  background-color: var(--accent-text);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list:hover svg,
.social-list:focus svg {
  fill: var(--logo-footer-text);
}

/* style clients */
.client-list {
  display: flex;
}

.client-item {
  flex-basis: calc(100% / 6 - 30px);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-item-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  box-sizing: border-box;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  fill: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client {
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item-icon:hover,
.client-item-icon:focus {
  border-color: var(--accent-text);
}

.client-item-icon:hover svg,
.client-item-icon:focus svg {
  fill: var(--accent-text);
}

/* style footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgd-hero);
  color: var(--text-color-footer);
}

.cont-footer {
  display: flex;
  align-items: baseline;
}

.cont-adress {
  margin-right: 70px;
}

.address-nav > .item + .item {
  margin-top: 9px;
}

.address {
  margin-top: 20px;
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
}

.address-footer {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
  color: var(--text-color-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover,
.address-footer:focus,
.address-item:hover,
.address-item:focus {
  color: var(--accent-text);
}

/* style cont-social */
.cont-social-title {
  display: block;

  margin-top: 0;
  /* margin-right: auto; */
  margin-bottom: 20px;
  margin-left: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-footer-text);
}

.cont-list-social {
  display: flex;
}

.cont-list-social > .social-item {
  border-radius: 50%;
  background-color: var(--bgd-color-icon-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-list-social > .social-item svg {
  fill: var(--logo-footer-text);
}

.cont-list-social > .social-item:not(:last-child) {
  margin-right: 10px;
}

.cont-list-social > .social-item:hover,
.cont-list-social > .social-item:focus {
  background-color: var(--accent-text);
}

/* style join */
.join-title {
  display: block;


  margin-top: 0;
  /* margin-right: auto; */
  margin-bottom: 20px;
  margin-left: 93px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-footer-text);
}

.form-join {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 93px;
}

.join-input {
  margin-right: 12px;
  padding: 0 0 0 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  background: var(--bgd-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.join-input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.join-input:focus,
.join-input:hover {
  border: 1px solid var(--accent-text);
}

.form-join .join-telegram {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px 0 28px;

  width: 200px;
  height: 50px;

  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;

  color: var(--white-color);
  background-color: var(--logo-primary-text);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-join .join-telegram:hover,
.form-join .join-telegram:focus {
  background-color: var(--bgd-btn-active);
}

.form-join .join-telegram svg {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--logo-footer-text);
}
/*page portpholio*/

.page-portfolio {
  background: var(--bgd-primary);
}

/*Button*/
.button-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-button {
  /* margin-left: 8px; */
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  color: var(--title-text-color);
  background-color: var(--bgd-secondary);
  box-shadow: none;

  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav .painting-list + .painting-list {
  margin-left: 8px;
}

.list-button:hover,
.list-button:focus {
  color: var(--white-color);
  background-color: var(--accent-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.section-work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.work-card {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-card:hover,
.work-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-details {
  position: relative;
  overflow: hidden;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-color);

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-card:hover .project-details {
  transform: translateY(0);
}

.card {
  padding: 20px 24px;
}

.section-work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.section-work-projact {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

/* style modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  margin: 0;

  background: var(--bgd-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;

  background: var(--bgd-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.icon-close {
  width: 18px;
  height: 18px;
  fill: var(--logo-header-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover > .icon-close,
.close:focus > .icon-close {
  fill: var(--accent-text);
}

.modal-titel {
  padding: 0;
  margin: 0 0 12px 0;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form-element {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-element:nth-child(-n + 3) {
  margin-bottom: 10px;
}
.form-element:nth-child(n + 4) {
  margin-bottom: 20px;
}

.form-element label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-wrap {
  position: relative;
}

.form-wrap > .icon-modal {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input:hover + .icon-modal,
.form-element input:focus + .icon-modal {
  fill: var(--accent-text);
}

.form-element input:hover,
.form-element input:focus {
  outline-color: var(--accent-text);
}

.commit-modal {
  padding: 12px 16px;
  /* margin-bottom: 20px; */
  resize: none;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.commit-modal:placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-element .commit-modal:hover,
.form-element .commit-modal:focus {
  outline-color: var(--accent-text);
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-label {
  position: relative;
  
  margin-bottom: 20px;
  min-width: 24px;
  
  display: block;

  height: 14px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.check-contract {
  padding-left: 24px;
}

.contract {
  color: var(--accent-text);
  text-decoration: underline;
  text-decoration-color: var(--accent-text);
}

.icon-check {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 7px;

  width: 16px;
  height: 15px;
  fill: var(--title-text-color);
}

.icon-check-off {
  opacity: 1;
}
.icon-check-on {
  opacity: 0;
}
.checkbox-input:checked ~ .icon-check-off {
  opacity: 0;
}
.checkbox-input:checked ~.icon-check-on {
  opacity: 1;
  fill: var(--accent-text);
}

.btn-submit {
  display: block;
  /* align-items: center;
  text-align: center; */
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--accent-text);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
}

.btn-submit:hover,
.btn-submit:focus {
  background: var(--bgd-btn-active);
}
