/* style classes */
.classes-list {
  display: flex;
  justify-content: space-between;
}

.classes-list > .item {
  position: relative;
}
.classes-item {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--logo-footer-text);
  text-transform: uppercase;
}