/* style header */
.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

/* style navigation*/
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-text);
}

.corrent {
  position: relative;
  color: var(--accent-text);
  display: inline-block;
}

.corrent::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  display: inline-block;

  width: 100%;
  height: 4px;

  background: var(--accent-text);
  border-radius: 2px;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  background-color: var(--white-text);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-item:hover svg,
.auth-item:focus svg {
  fill: var(--accent-text);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--accent-text);
}

.auth-nav > .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}