.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.centered {
  text-align: center;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

/*page portpholio*/

.page-portfolio {
  background: var(--bgd-primary);
}