/* style working */
.work {
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.work-list > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.work-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background-color: var(--bgd-secondary);
  border-radius: 4px;
}

.item-icon {
  width: 70px;
  height: 70px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-icon:hover svg {
  fill: var(--accent-text);
}

.work-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--title-text-color);
}

.work-item {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  line-height: 1.71;
}